body {
    margin: 0;
    font-family: "Tahoma";
    background: #f7f7f7;
}

/* HEADER */
header {
    background: #004aad;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}
.btn {
    background: white;
    color: #004aad;
    padding: 6px 14px;
    border-radius: 6px;
}

/* HERO */
.hero {
    text-align: center;
    padding: 120px 20px;
    background: url('https://images.unsplash.com/photo-1588075592446-265f9e5f59c5') center/cover;
    color: white;
}
.hero-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #004aad;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 20px;
}
.features .box {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 5px #ccc;
}

/* FOOTER */
footer {
    background: #004aad;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
